# make .env.local file and add this variable in it to set-up environment variables
# if you encounter error even after .env.local you can try adding .env also to your dir and keeping all the variables same in both the files.

MONGODB_PASSWORD=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""